/* Basic styling */
html,
body {
  margin: 0;
  padding: 0;
  background: #151f39;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 1280px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: #151f39;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.main-navigation a {
  color: #e7ecef;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s ease;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.menu a {
  padding: 0.5rem 1.25rem;
  display: block;
}

.main-navigation a:hover,
.main-navigation a:focus,
.menu-toggle:hover,
.menu-toggle:focus {
  color: #735cdd;
}

/* Scroll button */
#scroll-button {
  display: none;
  background-color: #ed254e;
  color: #e7ecef;
  border: none;
  border-radius: 5%;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 99;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}

#scroll-button:hover {
  transition: 0.3s;
  color: #e7ecef;
  background-color: #735cdd;
}

/* Mobile menu */
.menu-toggle {
  display: none;
  background: none;
  color: #e7ecef;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.menu-item-mobile {
  display: none;
}

/* HERO */
.hero {
  display: flex;
  background: #151f39;
  min-height: 100vh;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-h1 {
  color: #e7ecef;
  font-size: 6rem;
  font-family: "Orbitron", sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}
.hero-h2 {
  color: #e7ecef;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ABOUT */
.about {
  position: relative;
  min-height: 100vh;
  display: flex;
  background: #e7ecef;
}

.about-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  position: static;
}

/* Image section */
.about-img {
  display: flex;
  justify-content: center;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.img-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About text description */
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  color: #0a0f1c;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  padding: 2rem;
}

.about-text h2 {
  font-size: 4rem;
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
}

/* PORTFOLIO */

.portfolio {
  display: flex;
  min-height: 100vh;
}

.portfolio-container {
  background: #151f39;
  width: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.portfolio-heading {
  font-size: 5rem;
  font-family: "Orbitron", sans-serif;
  color: #e7ecef;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.portfolio-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  list-style-type: none;
}

.portfolio-item {
  width: 33.33%;
  display: flex;
  min-height: 15rem;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 2rem;
  padding-right: 1rem;
  justify-content: center;
}

.portfolio-item-content {
  color: #0a0f1c;
  width: 100%;
  height: 100%;
  padding: 2rem;
  transition: 0.5s;
  border-radius: 2rem;
  background-color: #e7ecef;
}

.portfolio-item-content:hover {
  background: #ed254e;
  color: #e7ecef;
}

/* CV */
.cv {
  display: flex;
  min-height: 100vh;
}

.cv-h2 {
  font-size: 5rem;
  font-family: "Orbitron", sans-serif;
  color: #e7ecef;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cv-column h3 {
  font-family: "Orbitron", sans-serif;
}

/* .cv-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #e7ecef;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
} */

.cv-columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #e7ecef;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;

/* MEDIA QUERIES */

/* DESKTOP */
@media screen and (max-width: 1200px) {
  /* HERO TEXT */
  .hero-h1 {
    font-size: 5rem;
  }

  .hero-h2 {
    font-size: 2.5rem;
  }
}

/* TABLET HORIZONTAL */
@media screen and (max-width: 992px) {
  /* HERO TEXT */

  .hero {
    min-height: unset;
    padding: 2rem;
  }

  .hero-h1 {
    font-size: 4rem;
  }

  .hero-h2 {
    font-size: 2rem;
  }

  /* ABOUT */

  .about {
    min-height: unset;
    background: none;
  }
  .about-container {
    flex-direction: column;
    background: none;
  }

  .about-img {
    position: relative;
    background-color: #ed254e;
    width: 100%;
    padding: 2rem;
  }

  .img-responsive {
    max-width: 300px;
  }

  .about-text {
    background-color: #e7ecef;
    width: 100%;
    font-size: 1rem;
  }

  .about-text h2 {
    font-size: 2rem;
  }

  /* PORTFOLIO */
  .portfolio-list {
    align-items: center;
    font-size: 1.2rem;
  }
  .portfolio-item {
    margin-left: 0;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}

/* TABLET VERTICAL */
@media screen and (max-width: 794px) {
  /* MOBILE MENU */
  .menu-toggle {
    display: block;
    z-index: 99;
  }
  .menu {
    background: linear-gradient(45deg, #151f39, #121b33);
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(-100%);
  }

  .menu.is-toggled {
    visibility: visible;
    transform: translateY(0);
  }

  .menu-item-mobile {
    display: block;
  }

  /* HERO TEXT */
  .hero-h1 {
    font-size: 3rem;
  }

  .hero-h2 {
    font-size: 1.5rem;
  }
}

/* MOBILE HORIZONTAL */
@media screen and (max-width: 628px) {
  /* HERO TEXT */
  .hero-h1 {
    font-size: 2.5rem;
  }

  .hero-h2 {
    font-size: 1.5rem;
  }

  /* PORTFOLIO */

  .portfolio-heading {
    font-size: 2rem;
  }
  .portfolio-item {
    width: 100%;
    margin-left: 0;
  }
}
/* MOBILE VERTICAL */
@media screen and (max-width: 544px) {
  /* HERO TEXT */
  .hero-h1 {
    font-size: 2rem;
  }

  .hero-h2 {
    font-size: 1.2rem;
  }
}
